.messages {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}

.youMessage {
  background-color: #3377ff;
  color: white;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 0;
  max-width: fit-content;
}

.userMessage {
  background-color: #f2f2f2;
  color: 333333;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 0;
  max-width: fit-content;
}
